html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, "Segoe UI", sans-serif;

  background: #111827;
  color: #f9fafb;

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  font-weight: 700;

  letter-spacing: -0.03em;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  transition: 0.2s ease;
}

button:hover {
  transform: translateY(-1px);
}
